
     <!-- <h1>日記</h1> -->

     <nav class="top-nav">
     <ul>

       <li class="list-border"></li>
       <li>
         <a href="./home" class="nav-link">ホーム</a>
       </li>
       <li class="list-border"></li>
       <li>
         <a href="./diary" class="nav-link active">日記</a>
       </li>
       <li class="list-border"></li>
       <li>
         <a href="/boards" class="nav-link">チャット</a>
       </li>
       <li class="list-border"></li>
       <div class="clear"></div>
     </ul>
   </nav>


   <div class="sub-header">
       <div class="content">
         <h1>日記--12月</h1>
       </div>
   </div>


   <div class="diary-box-content">
     <ul>
       <div onclick="obj=document.getElementById('open').style; obj.display=(obj.display=='none')?'block':'none';">
        <span class="date">2018/12/09</span>
        <a style="cursor:pointer;">▼</a>
       </div>

       <div id="open" style="display:none;clear:both;">
       <p>adsfasdfasdfsafsa</p>
       </div>
       <li>
         <span class="date">2018/12/01</span>
         <a href="" class="text">日記スタート</a>
       </li>
       <li>
           <span class="date">2018/12/02</span>
           <a href="" class="text">今日は違反講習会♪</a>
         </li>
         <li>
           <span class="date">2018/12/03</span>
           <a href="" class="text">気分転換にコインスペースに</a>
         </li>
         <li>
           <span class="date">2018/12/04</span>
           <a href="" class="text">chatの実装に</a>
         </li>
         <li>
           <span class="date">2018/12/05</span>
           <a href="" class="text">シラバスと出会う</a>
         </li>
         <li>
           <span class="date">2018/12/06</span>
           <a href="" class="text">またまた気分転換</a>
         </li>
         <li>
           <span class="date">2018/12/07</span>
           <a href="" class="text">少し遅れた</a>
         </li>
         <li>
           <span class="date">2018/12/08</span>
           <a href="" class="text">cssの画面調整ムズイ</a>
         </li>
         <li>
           <span class="date">2018/12/09</span>
           <a href="" class="text">休み</a>
         </li>
         <li>
           <span class="date">2018/12/10</span>
           <a href="" class="text">シラバスと独自を繋げる</a>
         </li>
         <li>
           <span class="date">2018/12/11</span>
           <a href="" class="text">掲示板失敗うまくいかない</a>
         </li>
         <li>
           <span class="date">2018/12/12</span>
           <a href="" class="text">バイトへ</a>
         </li>
         <li>
           <span class="date">2018/12/13</span>
           <a href="" class="text">rooting整理と細かな付けたし</a>
         </li>
         <li>
           <span class="date">2018/12/14</span>
           <a href="" class="text">散髪…切り過ぎ！寒い</a>
         </li>
         <li>


           <span class="date">2018/12/09</span>
           <a href="" class="text">休み</a>
         </li>
         <li>
           <span class="date">2018/12/09</span>
           <a href="" class="text">休み</a>
         </li>

         <!-- 折り畳み展開ポインタ -->

<div onclick="obj=document.getElementById('open').style; obj.display=(obj.display=='none')?'block':'none';">
 <span class="date">2018/12/09</span>
 <a style="cursor:pointer;">▼</a>
</div>

<div id="open" style="display:none;clear:both;">
<p>adsfasdfasdfsafsa</p>
</div>


         <!-- <div class="hidden_box">
    <label for="label1">クリックして表示</label>
    <input type="checkbox" id="label1"/>
    <div class="hidden_show">

      	<p><img src="face.png"></p>

    </div>
    </div> -->
     </ul>
   </div>

   <!-- <div class="move">
     <strong>1</strong>
     <a href="./home" onclick="goPage(2);return false;">2</a>
     <a href="#" onclick="goPage(3);return false;">2</a>
     <a href="#" onclick="goPage(4);return false;">2</a>
     <a href="#" onclick="goPage(5);return false;">2</a>
     <a href="#" onclick="goPage(6);return false;">2</a>
   </div> -->

   <div class="move">
     <a href="./home" class="month-link"><<11月</a>
     <a href="./home" class="month-link">1月>></a>
   </div>


   <!--footer-->
