   <nav class="top-nav">
     <ul>

       <li class="list-border"></li>
       <li>
         <a href="./home" class="nav-link">ホーム</a>
       </li>
       <li class="list-border"></li>
       <li>
         <a href="./diary" class="nav-link active">日記</a>
       </li>
       <li class="list-border"></li>
       <li>
         <a href="/boards" class="nav-link">チャット</a>
       </li>
       <li class="list-border"></li>
       <div class="clear"></div>
     </ul>
   </nav>


   <div class="sub-header">
       <div class="content">
         <h1>日記--12月</h1>
       </div>
   </div>


   <div class="diary-box-content">
     <ul>
       <li>
         <div onclick="obj=document.getElementById('open2').style; obj.display=(obj.display=='none')?'block':'none';">
           <span class="date">2018/12/01</span>
           <a style="cursor:pointer;">日記スタート　▼</a>
         </div>
         <div id="open2" style="display:none;clear:both;">
         <p>a</p>
         </div>
       </li>
       <li>
         <div onclick="obj=document.getElementById('open3').style; obj.display=(obj.display=='none')?'block':'none';">
           <span class="date">2018/12/01</span>
           <a style="cursor:pointer;">違反講習会　▼</a>
         </div>
         <div id="open3" style="display:none;clear:both;">
           <p>a</p>
         </div>
       </li>
       <li>
         <div onclick="obj=document.getElementById('open4').style; obj.display=(obj.display=='none')?'block':'none';">
           <span class="date">2018/12/01</span>
           <a style="cursor:pointer;">気分転換　▼</a>
         </div>
         <div id="open4" style="display:none;clear:both;">
           <p>a</p>
         </div>
       </li>
       <li>
         <div onclick="obj=document.getElementById('open5').style; obj.display=(obj.display=='none')?'block':'none';">
           <span class="date">2018/12/01</span>
           <a style="cursor:pointer;">chatの実装に　▼</a>
         </div>
         <div id="open5" style="display:none;clear:both;">
           <p>a</p>
         </div>
       </li>
       <li>
         <div onclick="obj=document.getElementById('open6').style; obj.display=(obj.display=='none')?'block':'none';">
           <span class="date">2018/12/01</span>
           <a style="cursor:pointer;">シラバス　▼</a>
         </div>
         <div id="open6" style="display:none;clear:both;">
           <p>a</p>
         </div>
       </li>
       <li>
         <div onclick="obj=document.getElementById('open7').style; obj.display=(obj.display=='none')?'block':'none';">
           <span class="date">2018/12/01</span>
           <a style="cursor:pointer;">日記スタート　▼</a>
         </div>
         <div id="open7" style="display:none;clear:both;">
           <p>a</p>
         </div>
       </li>
       <li>
         <div onclick="obj=document.getElementById('open8').style; obj.display=(obj.display=='none')?'block':'none';">
           <span class="date">2018/12/01</span>
           <a style="cursor:pointer;">日記スタート　▼</a>
         </div>
         <div id="open8" style="display:none;clear:both;">
           <p>a</p>
         </div>
       </li>
       <li>
         <div onclick="obj=document.getElementById('open9').style; obj.display=(obj.display=='none')?'block':'none';">
           <span class="date">2018/12/01</span>
           <a style="cursor:pointer;">日記スタート　▼</a>
         </div>
         <div id="open9" style="display:none;clear:both;">
           <p>a</p>
         </div>
       </li>
       <li>
         <div onclick="obj=document.getElementById('open10').style; obj.display=(obj.display=='none')?'block':'none';">
           <span class="date">2018/12/01</span>
           <a style="cursor:pointer;">日記スタート　▼</a>
         </div>
         <div id="open10" style="display:none;clear:both;">
           <p>a</p>
         </div>
       </li>
       <li>
         <div onclick="obj=document.getElementById('open11').style; obj.display=(obj.display=='none')?'block':'none';">
           <span class="date">2018/12/01</span>
           <a style="cursor:pointer;">日記スタート　▼</a>
         </div>
         <div id="open11" style="display:none;clear:both;">
           <p>a</p>
         </div>
       </li>
       <li>
         <div onclick="obj=document.getElementById('open12').style; obj.display=(obj.display=='none')?'block':'none';">
           <span class="date">2018/12/01</span>
           <a style="cursor:pointer;">日記スタート　▼</a>
         </div>
         <div id="open12" style="display:none;clear:both;">
           <p>a</p>
         </div>
       </li>
     </ul>
   </div>

   <!-- <div class="move">
     <strong>1</strong>
     <a href="./home" onclick="goPage(2);return false;">2</a>
     <a href="#" onclick="goPage(3);return false;">2</a>
     <a href="#" onclick="goPage(4);return false;">2</a>
     <a href="#" onclick="goPage(5);return false;">2</a>
     <a href="#" onclick="goPage(6);return false;">2</a>
   </div> -->

   <div class="move">
     <a href="./home" class="left-month"><<11月</a>
     <a href="./home" class="right-month">1月>></a>
   </div>


   <!--footer-->
