<html>
   <head>
     <title>BLOG</title>
   </head>
   <body>
	   <div class="top-head">
		   <div class="content">
			   <h1>BLOG</h1>
		   </div>
	   </div>
	   <nav class="top-nav">
		   <ul>
			   <li class="list-border"></li>
			   <li>
           <a href="./home" class="nav-link active">ホーム</a>
         </li>
			   <li class="list-border"></li>
			   <li>
			   	 <a href="./diary" class="nav-link">日記</a>
			   </li>
			   <li class="list-border"></li>
			   <li>
			   <a href="/boards" class="nav-link">チャット</a>
		     </li>
			   <div class="clear"></div>
		   </ul>
	   </nav>

	   <div class="main-content">
		   <div class="content">
  	     <div class="left-content">
  <!-- news -->
     		   <div class="box box-large newsfeed">
  				   <div class="title-back">
  					   <h2 class="title">ニュース</h2>
  				   </div>
  				   <div class="box-content">
  				     <ul>
                 <li>
                   <span class="date">2018/12/14</span>
                 <a href=http://news.livedoor.com/%E3%81%82%E3%81%8A%E3%82%8A%E9%81%8B%E8%BB%A2/topics/keyword/39503/ class="text">最近何かと話題の尽きない煽り運転についてのまとめサイト</a>
                 </li>
                 <li>
                   <span class="date">2018/12/14</span>
                   <a href=http://news.livedoor.com/%E9%BA%BB%E8%96%AC/topics/keyword/32853/ class="text">麻薬…世界にどれだけの量がはびこっているのか</a>
                 </li>
                 <li>
                   <span class="date">2018/12/14</span>
                   <a href=http://news.livedoor.com/search/article/?ie=euc-jp&word=ruby class="text">ruby関連のニュース　これからの行く末を自分はしっかり捉えられていたのか参考になりました</a>
                 </li>
                 <li>
                   <span class="date">2018/12/14</span>
                   <a href=http://news.livedoor.com/%E9%80%9A%E3%82%8A%E9%AD%94/topics/keyword/8599/ class="text">通り魔　夜間だけではなく日中すら怖い</a>
                 </li>
                 <li>
                   <span class="date">2018/12/05</span>
                   <a href=http://news.livedoor.com/%E3%82%AA%E3%83%AA%E3%83%B3%E3%83%94%E3%83%83%E3%82%AF%28%E4%BA%94%E8%BC%AA%29/topics/keyword/3333/ class="text">オリンピック！もうすぐです！感動させてください！</a>
                 </li>
                 <li>
                   <span class="date">2018/12/06</span>
                   <a href=http://news.livedoor.com/%E5%9B%BD%E4%BC%9A%E8%AD%B0%E5%93%A1/topics/keyword/17272/ class="text">国会関連　見ていると不祥事の記事が多いこと多いこと</a>
                 </li>
                 <li>
                   <span class="date">2018/12/07</span>
                   <a href=http://news.livedoor.com/%E3%81%8A%E7%AC%91%E3%81%84%E8%8A%B8%E4%BA%BA/topics/keyword/2231/ class="text">大好きなお笑いニュース</a>
                 </li>
                 <li>
                   <span class="date">2018/12/08</span>
                   <a href=http://news.livedoor.com/%E5%B3%B6%E7%94%B0%E7%B4%B3%E5%8A%A9/topics/keyword/702/ class="text">好きなお笑い！島田伸介まとめ記事</a><a href=https://www.youtube.com/watch?v=faFIQfkxVa4 class="text">/----と、紳助の動画</a>
                 </li>
                 <li>
                   <span class="date">2018/12/09</span>
                   <a href=http://news.livedoor.com/%E6%98%8E%E7%9F%B3%E5%AE%B6%E3%81%95%E3%82%93%E3%81%BE/topics/keyword/16996/ class="text">明石家さんまのニュース！</a><a href=https://www.youtube.com/watch?v=VT6BcMjOvGY class="text">/-----と、さんまの動画</a>
                 </li>
                 <!-- <li>
                   <span class="date">2018/12/10</span>
                   <a href="" class="text">シラバスと独自を繋げる</a>
                 </li>
                 <li>
                   <span class="date">2018/12/11</span>
                   <a href="" class="text">掲示板失敗うまくいかない</a>
                 </li>
                 <li>
                   <span class="date">2018/12/12</span>
                   <a href="" class="text">バイトへ</a>
                 </li>
                 <li>
                   <span class="date">2018/12/13</span>
                   <a href="" class="text">rooting整理と細かな付けたし</a>
                 </li>
                 <li>
                   <span class="date">2018/12/14</span>
                   <a href="" class="text">散髪…切り過ぎ！寒い</a>
                 </li>
                 <li>
                   <span class="date">2018/12/09</span>
                   <a href="" class="text">休み</a>
                 </li>
                 <li>
                   <span class="date">2018/12/09</span>
                   <a href="" class="text">休み</a>
                 </li> -->
					     </ul>
				     </div>
			     </div>
 <!-- newsここまで -->

<!-- diary -->
		   <div class="box box-small about">
			   <div class="title-back">
				   <h3 class="title">日記</h3>
			   </div>
			   <div class="box-content">
           <ul>
              <li>
                <span class="date">2018/12/01</span>
                <a href="" class="text">日記スタート</a>
              </li>
              <li>
                <span class="date">2018/12/02</span>
                <a href="" class="text">今日は違反講習会♪</a>
              </li>
              <li>
                <span class="date">2018/12/03</span>
                <a href="" class="text">気分転換にコインスペースに</a>
              </li>
              <li>
                <span class="date">2018/12/04</span>
                <a href="" class="text">chatの実装に</a>
              </li>
              <li>
                <span class="date">2018/12/05</span>
                <a href="" class="text">シラバスと出会う</a>
              </li>
              <li>
                <span class="date">2018/12/06</span>
                <a href="" class="text">またまた気分転換</a>
              </li>
              <li>
                <span class="date">2018/12/07</span>
                <a href="" class="text">少し遅れた</a>
              </li>
              <li>
                <span class="date">2018/12/08</span>
                <a href="" class="text">cssの画面調整ムズイ</a>
              </li>
              <li>
                <span class="date">2018/12/09</span>
                <a href="" class="text">休み</a>
              </li>
              <li>
                <span class="date">2018/12/10</span>
                <a href="" class="text">シラバスと独自を繋げる</a>
              </li>
              <li>
                <span class="date">2018/12/11</span>
                <a href="" class="text">掲示板失敗うまくいかない</a>
              </li>
              <li>
                <span class="date">2018/12/12</span>
                <a href="" class="text">バイトへ</a>
              </li>
              <li>
                <span class="date">2018/12/13</span>
                <a href="" class="text">rooting整理と細かな付けたし</a>
              </li>
              <li>
                <span class="date">2018/12/14</span>
                <a href="" class="text">散髪…切り過ぎ！寒い</a>
              </li>
              <li>


                <span class="date">2018/12/09</span>
                <a href="" class="text">休み</a>
              </li>
              <li>
                <span class="date">2018/12/09</span>
                <a href="" class="text">休み</a>
              </li>
           </ul>
			   </div>
		   </div>
<!-- diary fin -->

<!-- speak -->
  		  <div class="box box-small2 service">
  			  <div class="title-back">
  				  <h3 class="title">雑談</h3>
  			  </div>
  			  <div class="box-content">
            <img src="https://pbs.twimg.com/media/DAMpNX2V0AEI08I.jpg" width="100px" height="100px">
            <li>
              <a href="/boards" class="nav-link">testです。2ch風を丸パクリの掲示板を作っているサイトをさらに丸パクリです。まだまだできません。力足らずです。</a>
            </li>

  			  </div>
  		  </div>
<!-- speak fin -->
  		  <div class="clear"></div>
  		</div>
<!--right prof -->
    		<div class="right-content">
    			<img src="https://pbs.twimg.com/media/DAMpNX2V0AEI08I.jpg">
      	  <h1>A・S(32)</h1><br>
            <p>　転機があり、これを機に転職をしようと決心。年齢的に現実は厳しいと思うが、この世界で生きようと思う。
              H.30 9月頃からrubyの勉強をスタート。ITとは全く無縁の過去。キーボードすらまともに打てない。だって携帯があればね。。。
              将来性、それともう一つの理由のため頑張ります。
            </p>
        </div>
		  </div>
		  <div class="clear"></div>
	  </div>

     <!--footer-->

  </body>
</html>
